@import "tailwindcss";

:root {}

.hidden-item-parent .hidden-item-children {
  cursor: pointer;
  display: none;
}

.hidden-item-parent:hover .hidden-item-children {
  display: inline;
}



/* ButtonIcon */
div:hover>.ButtonIcon{
  opacity: 100;
}

/* ButtonIcon */
div:hover>div>.ButtonIcon.BI2{
  opacity: 100;
}

.ButtonIcon {
  opacity: 0;
  fill: #334155;
  cursor: pointer;
}

.ButtonIcon:hover {
  fill: #22c55e;
}



/* scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #1e9746;
  border-radius: 2px;
  border: 0px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1e9746;
}


/* table */
th {
  font-size: small;
  border-bottom: solid 1px rgb(153, 153, 153);
  border-right: solid 1px rgb(202, 202, 202);
  border-left: solid 1px rgb(202, 202, 202);
}

td {
  padding: 0 10px 0 10px;
}

tr:hover {
  background: #fafafa;
}

tr {
  text-align: center;
  margin: 4px;
}



/* date picker */
.react-datepicker-popper{
  z-index: 100 !important;
}
.react-datepicker{
  z-index: 100 !important;
  border: #1e9746 solid 2px  !important;
}

.react-datepicker__header--has-time-select, .react-datepicker__header--time  {
  background-color: #f0fdf4 !important;
}

.react-datepicker__day--selected,.react-datepicker__time-list-item--selected {
  background-color: #1e9746 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #1e974688 !important;
}

